@model Zoo.cs.AnimalFood

@{
    ViewBag.Title = "Details";
}

<h4>Details</h4>

<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.animal.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.animal.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.food.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.food.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
