<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Zoo Keeper Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    
        <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:darkslategrey">
            <div class="container">
                <div class="navbar-header"style="color:black;font-size:15px">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                 <h4 style="color:white;margin-top:13px">Zoo Keeper</h4>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li >@Html.ActionLink("Animal", "Index", "Animal1")</li>
                        <li>@Html.ActionLink("Food", "Index", "Food")</li>
                        <li>@Html.ActionLink("Animal Food Info", "Index", "AnimalFoods")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - All rights reserved to Md.Rashadujjaman</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
